In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in csv file containing vine table
df = pd.read_csv("./data/vine_table.csv", sep = ",")
df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y
5,R1WCUI4Z1SIQEO,5.0,0.0,0.0,N,N
6,RL5LNO26GAVJ1,2.0,3.0,4.0,N,Y
7,R3GYQ5W8JHP8SB,5.0,0.0,0.0,N,Y
8,R30SHYQXGG5EYC,5.0,0.0,0.0,N,Y
9,R14YLXA56NP51I,5.0,1.0,1.0,N,N